<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cl.gisred.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="fullUser"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EmpActivity"
            android:configChanges="orientation"
            android:label="Menú Empresas"
            android:screenOrientation="sensor" />
        <activity
            android:name=".MainActivity"
            android:label="Menú GISRED"
            android:parentActivityName=".EmpActivity"
            android:screenOrientation="sensor" />
        <activity
            android:name=".FormActivity"
            android:label="Menú Protocolos"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FormLectActivity"
            android:label="Menú Lectores"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FormEhysActivity"
            android:label="Menú EH and S"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FormMantActivity"
            android:label="Menú Mantenimiento"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StandardActivity"
            android:label="Standard"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".MapsActivity"
            android:label="Ingreso Clientes"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".InspActivity"
            android:label="Inspecciones"
            android:parentActivityName=".FormActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InspLectActivity"
            android:label="Inspección Lecturas"
            android:parentActivityName=".FormLectActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".LectorActivity"
            android:label="Lectura Nis"
            android:parentActivityName=".FormLectActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".LectorInspActivity"
            android:label="Inspección Lecturas"
            android:parentActivityName=".InspLectActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".MicroMedidaActivity"
            android:label="Micromedición"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".RegEquipoActivity"
            android:label="Registro Equipos"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".CatastroActivity"
            android:label="Catastro AP"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".PowerOnActivity"
            android:label="Interrupciones"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".OtListActivity"
            android:label="Ordenes de Trabajo"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".OtRouteActivity"
            android:label="Ordenes de Trabajo"
            android:parentActivityName=".OtListActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".RepartoActivity"
            android:label="Repartos"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".MedidorActivity"
            android:label="Ingreso Medidores"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".MantCatastroActivity"
            android:label="Ingreso Registro Catastro"
            android:parentActivityName=".FormMantActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".MantDistanciaApoyoActivity"
            android:label="Registro Distancia Apoyo"
            android:parentActivityName=".FormMantActivity"
            android:screenOrientation="locked" />
        <service
            android:name=".RepartoService"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".RepartoReceiver"
            android:enabled="true"
            android:exported="true" />
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="cl.gisred.android"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>